/* font */
header .headBanner a,
header .headBanner span,
footer div:last-of-type>p,
.endBox h3,
.bx-wrapper .bx-viewport ul.eventSlider div h3,
.listContainer.type02 .titleBox h2,
.listContainer.type03 .titleBox h2,
.contactContainer .titleBox h2,
.accordionContainer .titleBox h2,
.legalContainer .titleBox h2{
    font-family: 'Caveat';
}
header>div:last-of-type,
header>div:last-of-type nav li,
footer div:last-of-type>p span,
footer div:last-of-type ol li p mark,
#login h2,
#search label,
#search div h3,
#cartEmpty h2,
#cartHave mark,
.mainContainer>div:first-of-type h2,
.mainContainer figure figcaption strong,
.mainContainer div:nth-of-type(6) h3,
ul.itemSlider div strong,
ul.itemSlider div span,
.endBox p,
.listContainer.type01 h2,
.listContainer.type01 ul li h3,
.listContainer.type02 .titleBox h2 small,
.listContainer.type02>div>mark,
.listContainer.type03 .titleBox h2 small,
.listContainer.type03 h3,
.detailContainer .titleBox>div h2,
.detailContainer #choice h3,
.detailContainer .recommend h3,
.pop h3,
#subscribe h3,
.articleContainer h2,
article h3,
article b,
.storeContainer h2,
.legalContainer>ol li h4,
.legalContainer>ol>li:nth-of-type(11)>ol>li::marker,
.signContainer h2,
.signContainer>a,
.informationContainer h2,
.informationContainer>div h3,
.informationContainer>div fieldset legend,
.cartContainer>ol li,
.cartContainer h2,
.cartContainer #panier small,
.cartContainer #panier>div:first-of-type>div,
.cartContainer .step strong,
.cartContainer #emptyBox p,
.cartContainer .step.livraison ul li div b,
#cartOnly ul li mark,
#cartOnly strong{
    font-family: 'Sono';
}
footer div h2,
footer div ul li,
footer div:last-of-type ol li p,
#login span,
#cartEmpty p,
#cartHave>div,
#cartHave ul li>div:first-of-type,
#search div ul li a,
#search input[type='search'],
.mainContainer>div:first-of-type p,
.mainContainer figure figcaption small,
.mainContainer div:nth-of-type(6) ul li dl,
.bx-wrapper .bx-viewport ul.eventSlider div p,
ul.itemSlider div p,
.listContainer.type01 h2+p,
.listContainer.type01 ul p,
ul.itemBox li b,
ul.itemBox li small,
ul.itemBox li mark,
.listContainer.type03>div:nth-of-type(2) ul li b,
.listContainer.type03>div:nth-of-type(2) ul li div p,
.detailContainer>a,
.detailContainer .titleBox>div h2 small,
.detailContainer .titleBox>div mark,
.listContainer.type02>div:nth-of-type(2)>p,
#choice ul.choiceSlider li figure figcaption,
#choice ul.choiceSlider li figure figcaption input,
.macCount,
.macSelected li small,
.detailContainer .pop div ul li,
.articleContainer>ul li,
article time,
article p,
article ul,
article span,
.contactContainer div:last-of-type>p,
.contactContainer div:last-of-type>ul li,
.storeContainer .pop span,
.storeContainer .pop ul,
.storeContainer .pop p,
#subscribe p,
.accordionContainer ul li details,
.legalContainer>ol li h3,
.legalContainer p,
.legalContainer span,
.legalContainer ul,
.legalContainer>ol>li:nth-of-type(10) ol,
.signContainer p,
.informationContainer h2 small,
.informationContainer p,
.informationContainer #correctionTab input[type='checkbox']+label,
.cartContainer #panier>div:first-of-type ul li>div:first-of-type>*:not(:last-of-type),
.cartContainer .pop p,
.cartContainer .step small,
.cartContainer .step address,
.cartContainer .step.paiement ul,
.cartContainer .step.livraison ul li div,
.cartContainer .step.livraison ul li>span,
.cartContainer>div#panier #listBox ul li>div:first-of-type,
#cartOnly ul li>div:first-of-type,
#cartOnly ul li span{
    font-family: 'Quicksand';
}
.btn,
#login label,
#login p,
#login input[id*=user],
.endBox input[type='email'],
.component.select select,
.contactContainer label,
.contactContainer input:not([type='button']),
.contactContainer textarea,
.signContainer label,
.informationContainer ul li,
.informationContainer>div label:not([for*=Account]),
.informationContainer>div:not(#modifyInformation) input:not([type='submit'],[type='checkbox']),
.cartContainer label,
.cartContainer textarea,
.cartContainer .flexContainer input:not(.pink),
.signContainer input:not(.pink,[type='radio'],[value='close'],[type='checkbox']){ 
    font-family: 'Saira';
}

/* color */
ul.itemBox li>div div input[type='button']:hover,
ul.itemBox li>div div input[type='button'].active,
.contactContainer label,
.signContainer label,
.cartContainer label,
.informationContainer #registrationTab label,
.informationContainer fieldset:first-of-type label:not([for*=Account]),
.informationContainer #subscriptionTab label{
    color: #2d2c33;
}
.articleContainer>ul li,
.signContainer h2,
.informationContainer p,
.informationContainer #correctionTab input[type='checkbox']+label,
.cartContainer>ol li.active{
    color: #3c3b45;
}
footer div h2,
.informationContainer h2,
.informationContainer>div:not(#modifyInformation) h3,
.informationContainer>div fieldset legend,
.cartContainer .step strong:first-of-type{
    color: #414532;
}
.listContainer.type01>div:first-of-type p,
ul.itemBox li b,
ul.itemBox li small,
.listContainer.type03>div:nth-of-type(2) ul li b,
.listContainer.type03>div:nth-of-type(2) ul li p,
.contactContainer div:last-of-type>p,
.contactContainer div:last-of-type>ul li,
.contactContainer div:last-of-type>ul li a{
    color: #453e45;
}
#login>*:not(:nth-child(4),:first-child,:last-child),
#login>*:nth-child(4)>*:not(input[id*='user'],:last-child),
#cartEmpty h2,
#cartEmpty p,
#search div,
#search a,
.detailContainer .titleBox>div h2 small{
    color: #524b0b;
}
.mainContainer figure figcaption strong,
.mainContainer div:nth-of-type(6) h3{
    color: #535962;
}
#login label+input:not([type='submit']),
#search input[type='search'],
footer a,
footer li,
footer div:last-of-type ol li p,
.listContainer.type01 ul li h3,
.endBox input[type='email'],
textarea,
.component select,
.flexContainer input:not(.pink,.oliveGreen),
.informationContainer>div:not(#modifyInformation) input:not([type='submit'],[type='checkbox']),
.signContainer input:not(.pink,[type='radio'],[value='close'],[type='checkbox']){
    color: #5a5a66;
}
.detailContainer .titleBox>div h2,
.macCount,
article p,
article ul,
article span,
.storeContainer h2{
    color: #66655b;
}
.listContainer.type01 ul li p,
.macSelected li small{
    color: #717856;
}
header .headBanner input[type='button'],
header>div:last-of-type nav a,
header>div:last-of-type nav ul li,
header>div:last-of-type>ul li input[type='button'],
header>div:last-of-type>ul li:first-of-type a,
[class*=Panel]>input[type='button']:first-of-type,
#search label,
.listContainer.type02 .titleBox,
.listContainer.type03 .titleBox,
.contactContainer .titleBox,
.detailContainer>a,
.accordionContainer .titleBox,
.legalContainer .titleBox{
    color: #78776b;
}
.legalContainer>ol li h3,
.informationContainer ul li{
    color: #7f8763;
}
.listContainer.type02>div:nth-of-type(2)>mark,
.listContainer.type03 h3{
    color: #808761;
}
footer mark,
.listContainer.type01 h2,
.detailContainer .recommend h3,
.detailContainer #choice h3,
.articleContainer h2{
    color: #878678;
}
.mainContainer figure figcaption small{
    color: #8b8954;
}
.detailContainer .pop:not(#subscribe) h3,
.storeContainer .pop h3{
    color: #999888;
}
header,
[class*=Panel]{
    background-color: #e5e3cb;
}
.detailContainer,
.detailContainer+footer{
    background-color: #fff5ed;
}

/* A/U */
.accordionContainer ul li details summary::-webkit-details-marker{ /*chrome, safari*/
    display: none;
}
.accordionContainer ul li details summary::-ms-details-marker{ /*IE, fireFox*/
    display: none;
}
.accordionContainer ul li details summary::-o-details-marker{/*Opera*/
    display: none;
}
input[type='checkbox'],
input[type='radio']{
    display: none;
}
.component.select select{
    width: inherit;
}
div.component.select select{
    border-radius: 5px; appearance: none;
    background-image: url('../images/icon_expand_more.svg');
    background-repeat: no-repeat;
    background-position: 97.4%;
}
header .headBanner input[type='button'],
header>div:last-of-type>ul li input[type='button'],
ul.itemBox li>div input[type='button'],
#choice ul.choiceSlider input[type='button'],
.macSelected li>input,
.detailContainer .pop>input[type='button'],
.storeContainer .pop>input[type='button'],
.signContainer .pop>input[type='button'],
.cartContainer .pop>input[type='button'],
#subscribe>input[type='button'],
#modifyInformation>input[type='button'],
#sendMessage>input[type='button']{
    background-color: transparent;
    border: none;
    padding: 0;
}
header a,
footer a,
#login a,
#search a,
#cartHave a,
section:not(.contactContainer, .signContainer) a{
    text-decoration: none;
}
.pink,
header>div:last-of-type,
footer div h2,
.mainContainer figure,
.listContainer.type01 ul li h3,
ul.itemBox li>div a,
.listContainer.type02>div:nth-of-type(2)>mark,
.listContainer.type03 input[type='button'],
.detailContainer .titleBox>div input,
.macSelected li small,
.detailContainer .pop h3,
.articleContainer h2,
.storeContainer .pop h3,
.storeContainer h2,
.storeContainer>input[type='button'],
.signContainer h2,
.signContainer .pop h3,
.signContainer .pop a,
#subscribe div input,
#modifyInformation div input,
#sendMessage div input,
.informationContainer ul li,
.informationContainer>div h3,
.informationContainer>div input[type=submit],
.cartContainer .pop h3,
.cartContainer .pop div *:last-child,
.cartContainer>ol li,
.cartContainer h2,
.cartContainer .step:not(.panier) strong:first-of-type,
.cartContainer .step.livraison strong:last-of-type{
    text-transform: uppercase;
}
.pop:not(.active){
    display: none;
}
.btn{
    text-align: center; border: none; font-weight: 500;
}
.btn.oliveGreen,
input[type='button'].btn.oliveGreen{
    color: #524b0b; background-color: #ccc991;
}
.btn.pink{
    color: #e0838a; background-color: #ebe4de;
}
.btn.brown,
#choice>input[type='button'].active{
    color: #45443d; background-color: #dedcc5;
}
.btn.small{
    color: #242b47; background-color: #ebe4de;
}


.pop{
    position: fixed; z-index: 10;
    background-color: #fff; box-shadow: 0 0 20px rgba(186, 184, 166); 
    box-sizing: border-box;
}
section:not(.detailContainer) .pop,
#subscribe{
    transform: translate(-50%, -50%); left: 50%; top: 50%;
}
section:not(.detailContainer, .storeContainer) .pop,
#subscribe{
    text-align: center;
}
.pop>input[type='button']{
    position: absolute; color: #78776b;
}
section:not(.detailContainer, .storeContainer) .pop h3,
#subscribe h3{
    font-weight: 400; color: #999888;
}
section:not(.detailContainer, .storeContainer) .pop p,
#subscribe p{
    font-weight: 400; color: #33332d;
}
section:not(.detailContainer, .storeContainer) .pop a,
section:not(.detailContainer, .storeContainer) .pop div input,
#subscribe div input{
    display: block; margin: 0 auto;
}

[class*=Panel]:not(.active){
    display: none;
}
[class*=Panel]{
    box-sizing: border-box;
    position: fixed; 
    height: 100%; top: 0; z-index: 100;
}
[class*=Panel]>input[type='button']:first-of-type{
    position: absolute; padding: 0;
    background: none; border: none;
}
#login.active{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#login span{
    text-align: center; font-weight: 700;
}
#login h2{
    font-weight: 300; text-align: center;
}
#login label,
#login p{
    font-weight: 500;
}
#login label{
    display: block; margin: 0 auto 10px;
}
#login label:last-of-type{
    width: 100%;
}
#login input[id*=user]{
    border: 1px solid #1d1d21;
    box-sizing: border-box; 
    background-color: transparent;
    border-radius: 5px; margin: 0 auto; display: block;
}
#login label:last-of-type:before{
    content: ''; background: url('../images/icon_circle_green.svg') left center / 80% no-repeat;
}
#login input[type='checkbox']:checked+label:before{
    background-image: url('../images/icon_checked_green.svg');
}
#login input[type='submit']{
    width: 100%;
}
#login p{
    margin-bottom: 10px;
}
#login a{
    display: block;
}

#cartHave.active{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#cartHave ul{
    border-bottom: 1px solid #bab8a6;
}
#cartHave ul li{
    display: block; position: relative;
    background-repeat: no-repeat; 
    background-image: url('../images/transparent_item01.png');
}
#cartHave ul li>div:first-of-type{
    font-weight: 400; margin-bottom: 40px;
}
#cartHave ul li>div:first-of-type b{
    display: block; color: #303325;
}
#cartHave ul li>div:first-of-type input[type='button']{
    background-color: transparent; border: none; color: #999;
    position: absolute; right: 0; padding: 0;
}
#cartHave ul li>div:last-of-type div{
    width: 50%; float: left;
}
#cartHave ul li>div:last-of-type div input[type='button'],
#cartHave ul li>div:last-of-type div span{
    width: 25%; display: inline-block;
    border: 1px solid #878678;  vertical-align: top;
}
#cartHave ul li>div:last-of-type div input[type='button']{
    background-color: transparent;
}
#cartHave ul li>div:last-of-type div span{
    margin-left: -6px; border-left: none; text-align: center; 
}
#cartHave ul li>div:last-of-type div input[type='button']:last-of-type{
    margin-left: -6px; border-left: none;
}
#cartHave ul li>div:last-of-type mark{
    font-weight: 400; color: #90996e;
    display: block; text-align: right;
    width: 50%; float: right; 
}
#cartHave ul li>div:last-of-type::after{
    content: ''; display: block; clear: both;
}
#cartHave>div{
    margin-top: auto; margin-bottom: 15px; 
}
#cartHave>div strong{
    font-weight: 500; display: inline-block; width: 50%;
}
#cartHave>div output{
    font-weight: 500; display: inline-block; text-align: right;
}

#cartEmpty.active{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#cartEmpty h2{
    font-weight: 500; text-align: center;
}
#cartEmpty p{
    font-weight: 500; text-align: center;
}

#search.active{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#search label{
    display: block; font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}
#search input[type='search']{
    width: 100%; border: none; border-bottom: 2px solid #524b0b;
    background: url('../images/icon_search.svg') 95% center / 30px no-repeat;
    font-weight: 700; padding: 0 5%; margin-bottom: 50px;
}
#search input[type='search']::placeholder{
    color: #babba6;
}
#search input[type="search"]::-webkit-search-decoration,
#search input[type="search"]::-webkit-search-cancel-button,
#search input[type="search"]::-webkit-search-results-button,
#search input[type="search"]::-webkit-search-results-decoration{
  display: none; 
}
#search input[type='search']:focus-visible{
    outline: none;
}
#search div{
    text-align: center;
}
#search div h3{
    font-weight: 500;
}
#search div ul li{
    display: inline-block;
}
#search div ul li:nth-of-type(1) a{background-image: url('../images/itemDetail06.png');}
#search div ul li:nth-of-type(2) a{background-image: url('../images/itemDetail28.png');}
#search div ul li:nth-of-type(3) a{background-image: url('../images/itemDetail30.png');}
#search div ul li:nth-of-type(4) a{background-image: url('../images/itemDetail43.png');}

#search div ul li a{
    display: block; 
    box-sizing: border-box; font-weight: 500; 
    background-repeat: no-repeat; background-size: 100%;
}

header{
    position: fixed; width: 100%; top: 0; z-index: 10;
}
header .headBanner{
    position: relative; background-color: #c0cb92;
}
header .headBanner a,
header .headBanner span{
    display: block; font-weight: 700; color: #454545; 
    text-align: center; line-height: 40px;
}
header .headBanner input[type='button']{
    position: absolute; top: 0; line-height: 40px;
}

header>div:last-of-type{
    position: relative; margin: 20px 0;  
}
header>div:last-of-type:after{
    content: ''; display: block; clear: both;
}
header>div:last-of-type>h1{
    float: left;
}
header>div:last-of-type>h1 a{
    display: block;
}
header>div:last-of-type>h1 a img{
    width: 100%;
}
header>div:last-of-type nav ul li{
    font-weight: 400;
}
header>div:last-of-type>ul{
    position: absolute; text-align: right; 
}
header>div:last-of-type>ul li a{
    display: block;
}
header>div:last-of-type>ul li span{
    vertical-align: middle; margin-left: 5px;
}

.endBox h3{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); color: #8c7676; 
    font-weight: 500; 
}
.endBox p{
    font-weight: 500; color: #66665a;
}
.endBox input{
    border-style: solid; border-color: #1d1d21;
}
.endBox input[type='email']{
    border-width: 1px 0 1px 1px; border-radius: 5px 0 0 5px;
    box-sizing: border-box; 
}
.endBox input[type='email']:focus{
    outline: none;
}
.endBox input[type='button']{
    border-width: 1px 1px 1px 0; 
    border-radius: 0 5px 5px 0; 
    background-color: #665656; color: #fff; padding: 5px 0; 
}

footer:after{
    content: ''; display: block; clear: both;
}
footer div h2{
    font-weight: 500;
}
footer div ul li{
    display: block; margin-bottom: 10px; font-weight: 500;
}
footer div ol li{
    background-repeat: no-repeat;
}
footer div:nth-of-type(3) ol > li{
    display: inline-block; line-height: 45px;
}
footer div:nth-of-type(3) ol li{background-image: url('../images/icon_sns.png');}
footer div:nth-of-type(3) ol li:nth-of-type(1){background-position: -45px 0px;}
footer div:nth-of-type(3) ol li:nth-of-type(2){background-position: -45px -45px;}
footer div:nth-of-type(3) ol li:nth-of-type(3){background-position: -45px -90px;}
footer div:nth-of-type(3) ol li:nth-of-type(4){background-position: -45px -135px;}


footer div:nth-of-type(3) ol li a{
    display: block; text-indent: -9999px;
}
footer div:last-of-type ol li{
    display: block; position: relative; text-indent: -9999px;
}
footer div:last-of-type ol li:nth-of-type(1){background-image: url('../images/icon_footer01.svg'); background-size: 90px;}
footer div:last-of-type ol li:nth-of-type(2){background-image: url('../images/icon_footer02.svg'); background-size: 128px;}
footer div:last-of-type ol li:nth-of-type(3){background-image: url('../images/icon_footer03.svg'); background-size: 110px;}

footer div:last-of-type ol li p{
    position: absolute; font-weight: 500; 
}
footer div:last-of-type ol li p mark{
    display: block; text-indent: 0; font-weight: 400;
}
footer div:last-of-type>p{
    font-weight: 700; color: #7f8761;
}
footer div:last-of-type>p span{
    display: block; font-weight: 400; color: #45443d;
}

.bx-wrapper{
    box-shadow: none; border: none;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 1; background-repeat: no-repeat; background-position: 0 0; top: 45%;
}
.bx-wrapper .bx-controls-direction a.bx-prev{
    background-image: url('../images/icon_prev_shadow.png');
}
.bx-wrapper .bx-controls-direction a.bx-next{
    background-image: url('../images/icon_next_shadow.png');
}
.bx-wrapper .bx-next:hover, 
.bx-wrapper .bx-next:focus{
    background-position: 0 0;
}
.bx-wrapper .bx-pager.bx-default-pager{
    position: static;
}
.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-position: center; background-repeat: no-repeat; background-size: 90%; background-color: transparent; 
}
.bx-wrapper .bx-pager.bx-default-pager a{
    background-image: url('../images/icon_macTr.svg');
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a.active,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:hover,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a:focus{
    transform: rotate(-15deg);
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-2) a.active,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-2) a:hover,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-2) a:focus{
    background-image: url('../images/icon_macYe.svg'); 
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-1) a.active,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-1) a:hover,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n-1) a:focus{
    background-image: url('../images/icon_macIv.svg');
}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n) a.active,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n) a:hover,
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:nth-of-type(3n) a:focus{
    background-image: url('../images/icon_macPi.svg');
}

/* mob */
@media screen and (max-width:767px){
    .btn.pink,
    .btn.oliveGreen,
    .btn.brown,
    #choice>input[type='button'],
    input[type='button'].btn.oliveGreen{
        font-size: 10px; line-height: 25px;
    }
    .btn.small{
        font-size: 10px; line-height: 25px; padding: 0 5%;
    }
    section:not(.detailContainer) .pop,
    #subscribe{
        width: 92%; 
    }
    section:not(.detailContainer, .storeContainer) .pop,
    #subscribe{
        padding: 50px 40px;
    }
    .pop>input[type='button']{
        right: 20px; top: 20px;
        width: 15px; line-height: 15px; font-size: 15px;
    }
    section:not(.detailContainer, .storeContainer) .pop h3,
    #subscribe h3{
        font-size: 20px; margin-bottom: 15px;
    }
    section:not(.detailContainer, .storeContainer) .pop p,
    #subscribe p{
        font-size: 12px; line-height: 18px; margin: 0 auto 25px;
    }
    section:not(.detailContainer, .storeContainer) .pop a,
    section:not(.detailContainer, .storeContainer) .pop div input,
    #subscribe div input{
        width: 100%;
    }
    [class*=Panel]{
        width: 100%;
    }
    [class*=Panel]:not(#cartHave,#cartOnly){
        padding: 60px 12.5%;
    }
    #cartHave{
        padding: 60px 7.14%;
    }
    [class*=Panel]>input[type='button']:first-of-type{
        font-size: 20px; right: 20px; top: 20px;
    }

    #login span{
        font-size: 10px; line-height: 20px;
    }
    #login h2{
        font-size: 25px; margin-bottom: 30px;
    }
    #login label,
    #login p{
        font-size: 10px;
    }
    #login label[for*=user]{
        width: 100%;
    }
    #login input[id*=user]{
        width: 100%; padding: 0 6%;  
        font-size: 15px; line-height: 30px;
    }
    #login input[type='email']{
        margin-bottom: 15px;
    }
    #login input[type='password']{
        margin-bottom: 25px;
    }
    #login label:last-of-type:before{
        padding-left: 20px;
    }
    #login input[type='submit']{
        margin-bottom: 20px; 
    }

    #cartHave>div{
        padding: 0 7.14%;
    }
    #cartHave ul{
        padding: 10px 0; margin-top: 30px;
    }
    #cartHave ul li{
        background-position: center top; background-size: 30%; padding-top: 30%;
    }
    #cartHave ul li>div:first-of-type{
        font-size: 12px; line-height: 18px;
    }
    #cartHave ul li>div:first-of-type input[type='button']{
        top: 30%; font-size: 15px;
    }
    #cartHave ul li>div:last-of-type div input[type='button']{
        line-height: 20px;
    }
    #cartHave ul li>div:last-of-type div span{
        line-height: 22px; 
    }
    #cartHave ul li>div:last-of-type mark{
        font-size: 15px; line-height: 23px;
    }
    #cartHave>div{
        font-size: 12px;
    }
    #cartHave>div strong{
        width: 49%;
    }
    #cartHave>div output{
        width: 45%;
    }
    #cartHave a{
        margin: 0 7.14%;
    }

    #cartEmpty h2{
        font-size: 20px; line-height: 30px; margin-bottom: 10px;
    }
    #cartEmpty p{
        font-size: 10px; line-height: 16px; margin: 0 auto 15px; 
    }

    #search label{
        font-size: 20px; margin-bottom: 30px;
    }
    #search input[type='search']{
        font-size: 15px; line-height: 40px;
    }
    #search div h3{
        font-size: 15px; margin-bottom: 20px;
    }
    #search div ul li{
        display: inline-block; width: 45%;
    }
    #search div ul li:not(:nth-of-type(2n+1)){
        margin-left: 5%;
    }
    #search div ul li a{
        font-size: 10px; margin-bottom: 10px; padding-top: 85%;
    }

    header .headBanner a,
    header .headBanner span{
        width: 88%; white-space: nowrap; overflow: hidden;
        font-size: 12px; 
    }
    header .headBanner input[type='button']{
        right: 7.14%;
    }
    header .headBanner,
    header>div:last-of-type{
        padding: 0 7.14%; 
    }
    header>div:last-of-type>h1{
        max-width: 100px; 
    }
    header>div:last-of-type nav{
        display: none; padding-top: 60px;
        background-color: #e5e3cb; width: 100%; text-align: right;
    }
    header>div:last-of-type nav ul li{
        font-size: 15px; 
    }
    header>div:last-of-type nav ul>li{
        display: block; width: 100%; margin-left: auto;
        line-height: 35px;
    }
    header>div:last-of-type nav ul>li:nth-of-type(2n):before{
        content: ''; display: inline-block; vertical-align: middle;
        background: url('../images/icon_more.svg') right center / 100% no-repeat;
        width: 12px; height: 12px; transition: transform 0.6s ease;
    }
    header>div:last-of-type nav ul>li:nth-of-type(2n).active{
        color: #98a75a;
    }
    header>div:last-of-type nav ul>li.active:before{
        transform: rotate(180deg);
    }
    header>div:last-of-type nav ul li ol:not(.active){
        display: none;
    }
    header>div:last-of-type nav ul li ol li{
        list-style: none; line-height: 21px; font-size: 10px;
        margin-bottom: 5px;
    }
    header>div:last-of-type>ul{
        width: 50%; max-width: 130px; padding-top: 20px;
        line-height: 20px; top: 0; right: 7.14%;
    }
    header>div:last-of-type>ul li{
        display: block;
        float: left;
    }
    header>div:last-of-type>ul li:not(:first-of-type){
        margin-left: 2.5%;
    }
    header>div:last-of-type>ul li a{
        display: block; font-size: 12px;
    }
    header>div:last-of-type>ul li span,
    header>div:last-of-type>ul li input[type='button']{
        font-size: 20px; line-height: 20px;
    }
    header>div:last-of-type>ul li:first-of-type input[type='button']{
        margin-left: 35px;
    }

    .endBox{
        padding: 0 7.14%; margin: 0 auto; max-width: 300px;
    }
    .endBox:after{
        content: ''; display: block; clear: both;
    }
    .endBox h3{
        font-size: 24px; text-align: center; margin-bottom: 20px;
    }
    .endBox p{
        text-align: center; 
        font-size: 12px; line-height: 22px; margin-bottom: 30px;
    }
    .endBox input{
        font-size: 15px; line-height: 30px; 
    }
    .endBox input[type='email']{
        float: left; display: block; margin: 0 auto; 
        width: 76%; padding: 5px 4%; 
    }
    .endBox input[type='button']{
        width: 24%;
    }

    footer div h2{
        font-size: 15px; margin-bottom: 20px;
    }
    footer div ul li{
        font-size: 10px; line-height: 16px;
    }
    footer > div:not(:last-of-type){
        margin-bottom: 80px; text-align: center;
    }
    footer div:nth-of-type(3) ol > li{
        width: 45px;
    }
    footer div:last-of-type ol{
        padding: 0 12.5%; margin: 0 auto 50px;
    }
    footer div:last-of-type ol li{
        background-position: center top; padding-top: 120px; 
        line-height: 50px;
    }
    footer div:last-of-type ol li:not(:last-of-type){
        margin-bottom: 80px;
    }

    footer div:last-of-type ol li p{
        font-size: 10px; 
        line-height: 16px;
    }
    footer div:last-of-type ol li p mark{
        margin-bottom: 10px; 
        font-size: 15px; 
    }
    footer div:last-of-type>p{
        text-align: center; font-size: 15px;
    }
    footer div:last-of-type>p span{
        margin: 20px 0 0; 
        padding-bottom: 50px; font-size: 12px;
    }
    

    .bx-wrapper .bx-controls-direction a{
        width: 20px; height: 30px; background-size: 90%;        
    }
    .bx-wrapper .bx-pager.bx-default-pager{
        margin-bottom: 100px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 25px; height: 20px;
    }
}

/* desk tab */
@media screen and (min-width:768px){
    .btn.pink,
    .btn.oliveGreen,
    .btn.brown,
    #choice>input[type='button'],
    input[type='button'].btn.oliveGreen{
        font-size: 20px; line-height: 50px;
    }
    .btn.small{
        font-size: 15px; line-height: 35px; padding: 0 5%;
    }

    .pop>input[type='button']{
        right: 35px; top: 35px;
        width: 35px; line-height: 35px; font-size: 35px;
    }
    section:not(.detailContainer, .storeContainer) .pop h3,
    #subscribe h3{
        font-size: 40px; margin-bottom: 25px;
    }
    section:not(.detailContainer, .storeContainer) .pop p,
    #subscribe p{
        font-size: 18px; line-height: 24px; margin: 0 auto 30px;
    }

    [class*=Panel]>input[type='button']:first-of-type{
        font-size: 30px; 
    }
    #login span{
        font-size: 15px; line-height: 30px;
    }
    #login h2{
        font-size: 35px; margin-bottom: 40px;
    }
    #login label,
    #login p{
        font-size: 15px; 
    }
    #login label[for*=user]{
        width: 80%;
    }
    #login input[id*=user]{
        width: 80%; padding: 0 25px; 
        font-size: 20px; line-height: 50px;
    }
    #login input[type='email']{
        margin-bottom: 20px;
    }
    #login input[type='password']{
        margin-bottom: 40px;
    }
    #login label:last-of-type:before{
        padding-left: 30px;
    }
    #login input[type='submit']{
        margin-bottom: 40px;
    }

    #cartHave ul{
        padding: 30px 0; margin-top: 40px;
    }
    #cartHave ul li{
        background-position: left center;
        background-size: 20%;
        padding-left: 25%;
    }
    #cartHave ul li>div:first-of-type{
        font-size: 18px; line-height: 28px; margin-right: 8%;
    }
    #cartHave ul li>div:first-of-type input[type='button']{
        top: 0; 
    }
    #cartHave ul li>div:last-of-type div input[type='button']{
        line-height: 30px;
    }
    #cartHave ul li>div:last-of-type div span{
        line-height: 32px; 
    }
    #cartHave ul li>div:last-of-type mark{
        font-size: 20px; line-height: 33px;
    }
    #cartHave>div strong{
        width: 50%;
    }
    #cartHave>div{
        font-size: 20px;
    }
    #cartEmpty h2{
        font-size: 25px; margin-bottom: 20px; line-height: 35px;
    }
    #cartEmpty p{
        font-size: 15px; line-height: 22px; margin: 0 auto 25px; 
    }

    #search label{
        font-size: 25px; margin-bottom: 40px;
    }
    #search input[type='search']{
        font-size: 20px; line-height: 60px;
    }
    #search div h3{
        font-size: 25px; margin-bottom: 30px;
    }
    #search div ul li{
        width: 20%;
    }
    #search div ul li:not(:first-of-type){
        margin-left: 5%;
    }
    #search div ul li a{
        font-size: 15px; line-height: 21px; height: 5%; padding-top: 100%; 
    }
    header .headBanner a,
    header .headBanner span{
        font-size: 18px; width: 100%; 
    }
    header .headBanner input[type='button']{
        right: 4%;
    }
    header>div:last-of-type>h1{
        max-width: 130px; 
    }
    header>div:last-of-type nav ul li{
        font-size: 20px; 
    }
    header>div:last-of-type>ul{
        line-height: 50px; top: 0; 
    }
    header>div:last-of-type>ul li:not(:first-of-type){
        margin-left: 1.5%;
    }
    header>div:last-of-type>ul li span{
        font-size: 30px; 
    }
    header>div:last-of-type>ul li input[type='button']{
        font-size: 30px; line-height: 50px;
    }

    .endBox h3{
        margin-bottom: 40px; 
    }
    .endBox p{
        font-size: 25px; line-height: 40px; margin-bottom: 80px;
    }
    .endBox input{
        font-size: 20px; line-height: 50px; 
    }
    footer div h2{
        font-size: 25px; line-height: 35px; margin-bottom: 25px;
    }
    footer div ul li{
        font-size: 15px; line-height: 25px;
    }
    
    footer div:last-of-type ol li{
        line-height: 110px;
    }
    footer div:last-of-type>p{
        font-size: 30px; 
    }
    footer div:last-of-type>p span{
        font-size: 20px; 
    }

    .bx-wrapper .bx-controls-direction a{
        width: 28px; height: 44px; 
    }
    .bx-wrapper .bx-pager.bx-default-pager{
        margin-bottom: 150px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 38px; height: 26px;
    }
}

/* tab only */
@media screen and (min-width:768px) and (max-width:1279px){
    section:not(.detailContainer) .pop,
    #subscribe{
        width: 80%; 
    }
    section:not(.detailContainer, .storeContainer) .pop,
    #subscribe{
        padding: 100px;
    }
    section:not(.detailContainer, .storeContainer) .pop h3,
    #subscribe h3{
        font-size: 40px; font-weight: 400; color: #999888;
        margin-bottom: 25px;
    }
    section:not(.detailContainer, .storeContainer) .pop p,
    #subscribe p{
        width: 100%; 
        max-width: 500px; 
    }
    section:not(.detailContainer, .storeContainer) .pop a,
    section:not(.detailContainer, .storeContainer) .pop div input,
    #subscribe div input{
        width: 100%; max-width: 500px; 
    }
    [class*=Panel]{
        width: 100%; 
    }
    [class*=Panel]:not(#cartHave,#cartOnly){
        padding: 60px 17.57%;
    }
    #cartHave{
        padding: 60px 9.11%;
    }
    [class*=Panel]>input[type='button']:first-of-type{
        right: 40px; top: 40px;
    }

    #cartHave>div{
        padding: 0 10%;
    }
    #cartHave>div output{
        width: 45%; 
        min-width: 160px;
    }
    #cartHave a{
        margin: 0 10%;
    }
    #cartEmpty p{
        width: 80%; 
    }

    header .headBanner{
        padding: 0 3.125%; 
    }
    header>div:last-of-type{
        padding: 0 5.2%; 
    }

    header>div:last-of-type nav{
        display: none;
        background-color: #e5e3cb; width: 100%; text-align: right;
        padding-top: 60px;
    }
    header>div:last-of-type nav ul li{
        line-height: 50px;
    }
    header>div:last-of-type nav ul>li{
        display: block;
        width: 67%; 
        margin-left: auto;
    }
    header>div:last-of-type nav ul>li:nth-of-type(2n):before{
        content: ''; 
        display: inline-block; vertical-align: middle;
        background: url('../images/icon_more.svg') right center / 100% no-repeat;
        width: 20px; height: 20px; transition: transform 0.6s ease;
    }
    header>div:last-of-type nav ul>li:nth-of-type(2n).active{
        color: #98a75a;
    }
    header>div:last-of-type nav ul>li.active:before{
        transform: rotate(180deg);
    }
    header>div:last-of-type nav ul li ol:not(.active){
        display: none;
    }
    header>div:last-of-type nav ul li ol li{
        list-style: none;
    }
    header>div:last-of-type>ul{
        width: 50%; max-width: 300px; 
        right: 5.2%; 
    }
    header>div:last-of-type>ul li{
        display: inline-block;
    }

    .endBox{
        padding: 0 13%; max-width: 700px; margin: 0 auto;
    }
    .endBox:after{
        content: ''; display: block; clear: both;
    }
    .endBox h3{
        font-size: 50px; text-align: center;
    }
    .endBox p{
        text-align: center; 
    }
    .endBox input[type='email']{
        float: left; display: block; margin: 0 auto; 
        width: 76%;
        padding: 5px 4%; 
    }
    .endBox input[type='button']{
        width: 24%;
    }

    footer > div:not(:last-of-type){
        margin-bottom: 80px; text-align: center;
    }
    footer div:nth-of-type(3) ol > li{
        width: 45px;
    }
    footer div:last-of-type ol{
        padding: 0 13%; max-width: 750px; margin: 0 auto 80px;
    }
    footer div:last-of-type ol li{
        max-width: 590px; 
        background-position: left center; 
    }
    footer div:last-of-type ol li:not(:last-of-type){
        margin-bottom: 80px;
    }
    footer div:last-of-type ol li:nth-of-type(1){margin-left: 15px; padding-left: 145px;}
    footer div:last-of-type ol li:nth-of-type(2){margin-left: 0; padding-left: 160px;}
    footer div:last-of-type ol li:nth-of-type(3){margin-left: 5px; padding-left: 155px;}

    footer div:last-of-type ol li p{
        padding: 13px 0;
        font-size: 15px; 
        line-height: 23px;
    }
    footer div:last-of-type ol li p mark{
        margin-bottom: 10px; 
        font-size: 20px; 
    }
    footer div:last-of-type>p{
        text-align: center;
    }
    footer div:last-of-type>p span{
        margin: 50px 0 0; 
        padding-bottom: 100px;
    }
}

/* desktop only */
@media screen and (min-width:1280px){
    .mui{
        display: none;
    }
    section:not(.detailContainer) .pop,
    #subscribe{
        width: 40%; 
    }
    section:not(.detailContainer, .storeContainer) .pop,
    #subscribe{
        padding: 150px 5%;
    }
    section:not(.detailContainer, .storeContainer) .pop p,
    #subscribe p{
        width: 90%; 
    }
    section:not(.detailContainer, .storeContainer) .pop a,
    section:not(.detailContainer, .storeContainer) .pop div input,
    #subscribe div input{
        width: 70%; 
    }

    footer div:last-of-type ol li p{
        background-color: #e5e3cb;
    }
    header>div:last-of-type nav ul li:hover,
    header>div:last-of-type nav ul li ol li a:hover,
    header>div:last-of-type nav ul li a:hover,
    footer div ul li:hover a,
    footer div ul li:hover{
        color: #98a75a;
    }
    .btn.oliveGreen:hover,
    input[type='button'].btn.oliveGreen:hover{
        color: #ccc991; background-color: #524b0b; 
    }
    section:not(.listContainer,.detailContainer) .btn.pink:hover{
        color: #ebe4de; background-color: #e0838a;
    }
    .btn.brown:hover,
    #choice>input[type='button'].active:hover{
        color: #dedcc5; background-color: #45443d;
    }
    .btn.small:hover{
        color: #ebe4de; background-color: #242b47;
    }

    [class*=Panel]{
        width: 40%; right: 0; 
        padding: 3% 6%; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    [class*=Panel]>input[type='button']:first-of-type{
        right: 10%; top: 60px;
    }
    #cartHave>div output{
        width: 44.6%; 
    }

    header{
        position: fixed; width: 100%; top: 0; z-index: 10;
    }
    header .headBanner{
        padding: 0 4%; max-width: 1760px; 
    }
    header>div:last-of-type{
        padding: 0 4%; max-width: 1760px; 
    }
    header>div:last-of-type nav{
        line-height: 50px;
        position: relative; width: 70%; margin-left: auto; padding-right: 15%;
        text-align: center; 
    }
    header>div:last-of-type nav ul>li{
        display: inline-block;
    }
    header>div:last-of-type nav ul>li:not(:first-of-type){
        margin-left: 1%;
    }
    header>div:last-of-type nav ul li ol{
        display: none; position: absolute;
    }
    header>div:last-of-type nav ul li:hover ol{
        display: block; 
    }
    header>div:last-of-type nav ul li ol li{
        display: block;
        text-align: left; 
        line-height: 35px;
    }
    header>div:last-of-type nav ul li ol li:before{
        background: url('../images/icon_macTr.png') center bottom / contain no-repeat;
        content: ''; width: 25px; height: 25px;
        position: absolute; left: -35px;
    }
    header>div:last-of-type nav ul li ol li:hover:before{
        transform: rotate(-15deg);
    }
    header>div:last-of-type nav ul li ol li:nth-of-type(3n-2):hover:before{background-image: url('../images/icon_macYe.png');}
    header>div:last-of-type nav ul li ol li:nth-of-type(3n-1):hover:before{background-image: url('../images/icon_macIv.png');}
    header>div:last-of-type nav ul li ol li:nth-of-type(3n):hover:before{background-image: url('../images/icon_macPi.png');}
    
    header>div:last-of-type>ul{
        width: 15%; max-width: 200px; right: 4%; 
    }
    header>div:last-of-type>ul li:not(.mui){
        display: inline-block;
    }

    .endBox{
        max-width: 1510px; margin: 0 10%;
        background: url('../images/subscribe.png') right / contain no-repeat;
    }
    .endBox h3{
        font-size: 70px; 
    }
    .endBox p{
        width: 50%; 
    }
    .endBox input[type='email']{
        display: inline-block; vertical-align: middle; 
        width: 30%; 
        padding:5px 1.1%; 
    }
    .endBox input[type='button']{
        width: 10%; margin-left: -10px;
        display: inline-block;
    }

    footer{
        max-width: 1510px; padding: 0 10%;
    }
    footer > div:not(:last-of-type){
        margin-right: 2.6%; float: left;
    }
    footer>div:first-of-type{
        width: 12%;
    }
    footer>div:nth-of-type(2){
        width: 20%;
    }
    footer>div:nth-of-type(3){
        width: 20%;
    }
    footer > div:last-of-type{
        float: right; width: 40%;
    }
    footer div:nth-of-type(3) ol > li{
        width: 2.34%; min-width: 45px;
    }
    footer div:nth-of-type(3) ol li:not(:first-of-type){
        margin-left: 0.52%;
    }
    footer div:nth-of-type(3) ol li:nth-of-type(1):hover{background-position: 0px 0px;}
    footer div:nth-of-type(3) ol li:nth-of-type(2):hover{background-position: 0px -45px;}
    footer div:nth-of-type(3) ol li:nth-of-type(3):hover{background-position: 0px -90px;}
    footer div:nth-of-type(3) ol li:nth-of-type(4):hover{background-position: 0px -135px;}

    footer div:last-of-type ol{
        margin-bottom: 50px;
    }
    footer div:last-of-type ol:after{
        content: ''; display: block; clear: both;
    }
    footer div:last-of-type ol li{
        float: left;
        background-position: center;
    }
    footer div:last-of-type ol li:not(:first-of-type){
        margin-left: 2%;
    }
    footer div:last-of-type ol li:nth-of-type(1){width: 30%;}
    footer div:last-of-type ol li:nth-of-type(2){width: 34%;}
    footer div:last-of-type ol li:nth-of-type(3){width: 32%;}

    footer div:last-of-type ol li p{
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); top: -170px; right: 0;
        width: 330px; height: 90px; padding: 30px;
        font-size: 14px; line-height: 20px;
    }
    footer div:last-of-type ol li:hover p{
        display: block;
    }
    footer div:last-of-type ol li p mark{
        margin-bottom: 8px; font-size: 18px;
    }
    footer div:last-of-type>p{
        line-height: 40px; text-align: right;
    }
    footer div:last-of-type>p span{
        margin: 40px 0 100px;
    }

    .btn.brown,
    #choice>input[type='button'].active,
    header .headBanner input[type='button'],
    header .headBanner span,
    header>div:last-of-type>ul li input[type='button'],
    header>div:last-of-type nav ul li:hover,
    footer div:last-of-type ol li:hover,
    footer div ul li,
    .endBox input[type='button'],
    ul.itemBox li>div input[type='button'],
    .mainContainer>div:first-of-type input[type='button'],
    .bx-wrapper .bx-viewport ul.itemSlider div input[type='button'],
    .bx-wrapper .bx-viewport ul.eventSlider div input[type='button'],
    .mainContainer figure figcaption input[type='button'],
    .macSelected li>input,
    .listContainer.type03>div:nth-of-type(2) ul li input[type='button'],
    .macSelected .countComponent input,
    .detailContainer .titleBox>div ol li,
    .detailContainer .pop>input[type='button'],
    .storeContainer .pop>input[type='button'],
    .cartContainer .pop>input[type='button'],
    .signContainer .pop>input[type='button'],
    .signContainer .pink,
    #choice ul.choiceSlider input[type='button'],
    #choice ul.choiceSlider li figure figcaption,
    #subscribe>input[type='button'],
    #modifyInformation>input[type='button'],
    #sendMessage>input[type='button'],
    [class*=Panel]>input[type='button']:first-of-type,
    #login input[type='submit'],
    #login label:last-of-type,
    #cartHave ul li>div:first-of-type input[type='button'],
    .cartPanel .countComponent input[type='button'],
    #subscribe div input,
    #modifyInformation div input,
    #sendMessage div input,
    .cartContainer>div#panier input,
    .cartContainer>div#livraison input[type='button'],
    .cartContainer>div#cadeaux input[type='button'],
    .cartContainer>div#paiement input[type='button'],
    .cartContainer .pop#orderEmpty input[type='button'].oliveGreen,
    .cartContainer .step strong:first-of-type,
    .informationContainer ul li,
    .informationContainer #registrationTab input[type='submit'],
    .informationContainer #subscriptionTab input[type='submit'],
    .informationContainer fieldset input[type='submit'],
    .informationContainer fieldset:first-of-type input[type='checkbox']+label,
    .contactContainer>div:last-of-type input[type='submit'],
    .storeContainer>input[type='button'],
    .accordionContainer ul li details summary,
    .articleContainer>ul li:not(.active){
        cursor: pointer;
    }
}

/* 
@media screen and (min-width:1280px){
    .mui{
        display: none;
    }
    footer:after{
        content: ''; display: block; clear: both;
    }
    header>div:last-of-type nav ul li:hover,
    footer div:last-of-type ol li:hover{
        cursor: pointer;
    }
    .btn{
        font-size: 20px; font-weight: 500; text-align: center;
    }
    .btn.oliveGreen,
    input[type='button'].btn.oliveGreen{
        background-color: #ccc991;
        color: #524b0b; border: none; line-height: 50px;
    }
    .btn.oliveGreen:hover,
    input[type='button'].btn.oliveGreen:hover{
        background-color: #524b0b; color: #ccc991;
    }
    .btn.pink{
        color: #e0838a;
        background-color: #ebe4de; line-height: 50px;
    }
    section:not(.listContainer,.detailContainer) .btn.pink:hover{
        color: #ebe4de; background-color: #e0838a;
    }
    .btn.small{
        font-size: 15px; font-weight: 500; line-height: 35px;
        background-color: #ebe4de; color: #242b47;
        padding: 0 5%; text-align: center;
    }
    .btn.small:hover{
        color: #ebe4de; background-color: #242b47;
    }

    [class*=Panel]:not(.active){
        display: none;
    }
    [class*=Panel]{
        padding: 4%; box-sizing: border-box;
        position: fixed; width: 40%; height: 100%; right: 0; top: 0; z-index: 100;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    }
    [class*=Panel]>input[type='button']:first-of-type{
        background: none; border: none; font-size: 30px; color: #78776b; width: 100%; text-align: right;
        cursor: pointer;
    }

    #login{
        text-align: center;
    }
    #login>input[type='button']{
        margin-bottom: 20%;
    }
    #login span{
        font-size: 15px; font-weight: 700; line-height: 30px;
    }
    #login h2{
        font-size: 35px; font-weight: 300; margin-bottom: 40px;
    }
    #login label,
    #login p{
        font-size: 15px; font-weight: 500;
    }
    #login label{
        display: inline-block; margin-bottom: 10px; text-align: left;
    }
    #login label:not(:last-of-type){
        width: 80%; 
    }
    #login label+input:not([type='submit']){
        border: 1px solid #1d1d21;
        width: 80%; padding: 0 25px; box-sizing: border-box; 
        font-size: 20px; line-height: 50px;
        background-color: transparent;
        border-radius: 5px;
    }
    #login input[type='email']{
        margin-bottom: 20px;
    }
    #login input[type='password']{
        margin-bottom: 40px;
    }
    #login label:last-of-type{
        line-height: 20px; width: 100%;
    }
    #login label:last-of-type:before{
        content: ''; background-image: url('../images/icon_circle.png');
        background-position: left center; padding-left: 30px; background-repeat: no-repeat;
    }
    #login input[type='checkbox']:checked+label:before{
        background-image: url('../images/icon_circle_active.png');
    }
    #login input[type='submit']{
        display: block;
        width: 100%; margin-bottom: 40px; cursor: pointer;
    }
    #login p{
        margin-bottom: 10px; text-align: left;
    }
    #login a{
        display: block; width: 100%;
    }

    #cartHave ul{
        border-bottom: 1px solid ; padding: 30px 0;
    }
    #cartHave ul li{
        background: url('../images/transparent_item01.png') left center / 20% no-repeat;
        padding-left: 25%;
        display: block;
        position: relative;
    }
    #cartHave ul li>div:first-of-type{
        margin-bottom: 40px; margin-right: 8%;
        font-size: 18px; font-weight: 400; line-height: 28px;
    }
    #cartHave ul li>div:first-of-type b{
        display: block; color: #303325;
    }
    #cartHave ul li>div:first-of-type input[type='button']{
        background-color: transparent; border: none; color: #999;
        position: absolute; right: 0; top: 0;
    }

    #cartHave ul li>div:last-of-type div{
        width: 50%; 
        float: left;
    }
    #cartHave ul li>div:last-of-type div input[type='button'],
    #cartHave ul li>div:last-of-type div span{
        width: 25%; display: inline-block;
        border: 1px solid #878678;  vertical-align: top;
    }
    #cartHave ul li>div:last-of-type div input[type='button']{
        background-color: transparent;
        line-height: 30px;
    }
    #cartHave ul li>div:last-of-type div span{
        margin-left: -6px; line-height: 32px; border-left: none;
        text-align: center; 
    }
    #cartHave ul li>div:last-of-type div input[type='button']:last-of-type{
        margin-left: -6px; border-left: none;
    }

    #cartHave ul li>div:last-of-type mark{
        font-size: 20px; font-weight: 400; color: #90996e;
        display: block; text-align: right;
        width: 50%; float: right; line-height: 33px;
    }
    #cartHave ul li>div:last-of-type::after{
        content: ''; display: block; clear: both;
    }
    #cartHave>div{
        position: absolute; bottom: 10%; margin-bottom: 15px;
        display: block; width: 80%;
        font-size: 20px; font-weight: 500;
    }
    #cartHave>div strong{
        font-weight: 500;
    }
    #cartHave>div output{
        width: 80%; text-align: right; display: inline-block;
    }
    #cartHave>a{
        position: absolute; bottom: 4%;
        display: block; width: 80%; text-align: center;
    }

    #cartEmpty{
        text-align: center;
    }
    #cartEmpty>input[type='button']{
        margin-bottom: 45%;
    }
    #cartEmpty h2{
        font-size: 25px; font-weight: 400; margin-bottom: 30px;
    }
    #cartEmpty p{
        font-size: 15px; font-weight: 500; line-height: 22px; width: 80%; margin: 0 auto 25px;
    }
    #cartEmpty>input[type='button']:last-of-type{
        width: 100%;
    }

    #search>input[type='button']{
        margin-bottom: 40%;
    }
    #search label{
        display: block; font-size: 25px; font-weight: 500;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); margin-bottom: 40px;
    }
    #search input[type='search']{
        width: 100%; border: none; border-bottom: 2px solid #524b0b;
        font-size: 20px; font-weight: 700; padding: 0 5%; line-height: 50px;
        background: url('../images/icon_search.svg') 95% center no-repeat;
        background-size: 30px;
        margin-bottom: 35px;
    }
    #search input[type='search']::placeholder{
        color: #babba6;
    }
    #search input[type="search"]::-webkit-search-decoration,
    #search input[type="search"]::-webkit-search-cancel-button,
    #search input[type="search"]::-webkit-search-results-button,
    #search input[type="search"]::-webkit-search-results-decoration {
      display: none; 
    }
    #search input[type='search']:focus-visible{
        outline: none;
    }
    #search div{
        text-align: center;
    }
    #search div h3{
        font-size: 25px; font-weight: 500; margin-bottom: 30px;
    }
    #search div ul li{
        display: inline-block; width: 20%; 
    }
    #search div ul li:not(:first-of-type){
        margin-left: 5%;
    }
    #search div ul li:nth-of-type(1) a{background-image: url('../images/itemDetail06.png');}
    #search div ul li:nth-of-type(2) a{background-image: url('../images/itemDetail28.png');}
    #search div ul li:nth-of-type(3) a{background-image: url('../images/itemDetail30.png');}
    #search div ul li:nth-of-type(4) a{background-image: url('../images/itemDetail43.png');}
    
    #search div ul li a{
        font-size: 15px; font-weight: 500; display: block;height: 80px; padding-top: 100px; box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 100% 80%;
    }

    header{
        position: fixed; width: 100%; top: 0; z-index: 10;
    }
    header .headBanner{
        padding: 0 4%; max-width: 1760px; text-align: center;
        background-color: #c0cb92;
    }
    header .headBanner a{
        line-height: 40px; font-weight: 700; font-size: 18px; color: #454545; 
        width: 60%; display: inline-block;
    }
    header .headBanner input[type='button']{
        float: right; line-height: 40px; width: 2%;
    }

    header>div:last-of-type{
        margin: 20px 4%; max-width: 1760px; position: relative;
    }
    header>div:last-of-type:after{
        content: ''; display: block; clear: both;
    }
    header>div:last-of-type>h1{
        max-width: 130px; float: left;
    }
    header>div:last-of-type>h1 a{
        display: block;
    }
    header>div:last-of-type>h1 a img{
        width: 100%;
    }
    header>div:last-of-type nav{
        text-align: center; line-height: 55px;
        position: relative; width: 70%;
        margin-left: auto; padding-right: 15%;
    }
    header>div:last-of-type nav ul>li{
        display: inline-block;
    }
    header>div:last-of-type nav ul li{
        font-size: 20px; font-weight: 400;
    }
    header>div:last-of-type nav ul>li:not(:first-of-type){
        margin-left: 1%;
    }
    header>div:last-of-type nav ul li ol{
        display: none; position: absolute;
    }
    header>div:last-of-type nav ul li:hover ol{
        display: block; 
    }
    header>div:last-of-type nav ul li ol li{
        display: block;
        text-align: left; line-height: 35px;
    }
    header>div:last-of-type nav ul li ol li a:before{
        background: url('../images/icon_macTr.png') center bottom / contain no-repeat;
        content: ''; width: 25px; height: 25px;
        position: absolute; left: -35px;
    }
    header>div:last-of-type nav ul li ol li:hover a:before{
        transform: rotate(-15deg);
    }
    header>div:last-of-type nav ul li ol li:nth-of-type(3n-2):hover a:before{background-image: url('../images/icon_macYe.png');}
    header>div:last-of-type nav ul li ol li:nth-of-type(3n-1):hover a:before{background-image: url('../images/icon_macIv.png');}
    header>div:last-of-type nav ul li ol li:nth-of-type(3n):hover a:before{background-image: url('../images/icon_macPi.png');}
    
    header>div:last-of-type>ul{
        position: absolute; width: 15%; max-width: 200px; line-height: 55px;
        right: 0; top: 0; text-align: right; 
    }
    header>div:last-of-type>ul li:not(.mui){
        display: inline-block;
    }
    header>div:last-of-type>ul li:not(:first-of-type){
        margin-left: 1.5%;
    }
    header>div:last-of-type>ul li:first-of-type a{
        background: url('../images/icon_person.png') right center / 30% no-repeat;
        padding-right: 35px; display: block;
    }
    header>div:last-of-type>ul li input[type='button']{
        font-size: 30px;
    }

    .endBox{
        max-width: 1510px; margin: 0 10%;
        background-image: url('../images/subscribe.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    .endBox h3{
        font-size: 70px; font-weight: 500; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: #8c7676; 
        margin-bottom: 40px; 
    }
    .endBox p{
        font-size: 25px; font-weight: 500;
        color: #66665a;
        margin-bottom: 80px;
        width: 50%; line-height: 40px;
    }
    .endBox input{
        line-height: 50px; font-size: 20px;
    }
    .endBox input[type='email']{
        border-radius: 5px 0 0 5px; display: inline-block;
        vertical-align: middle; padding:5px 1.1%; box-sizing: border-box; width: 30%; border: 1px solid #1d1d21;
    }
    .endBox input[type='email']:focus{
        outline: none;
    }
    .endBox input[type='button']{
        border-width: 1px 1px 1px 0; border-style: solid; border-color: #1d1d21;
        border-radius: 0 5px 5px 0; display: inline-block;
        padding: 5px 0; width: 10%; margin-left: -10px;
        background-color: #665656; color: #fff; cursor: pointer;
    }
    .endBox+div:not(.active){
        display: none;
    }

    footer{
        max-width: 1510px; padding: 0 10%;
    }
    footer > div:not(:last-of-type){
        margin-right: 2.6%; float: left;
    }
    footer>div:first-of-type{
        width: 12%;
    }
    footer>div:nth-of-type(2){
        width: 20%;
    }
    footer>div:nth-of-type(3){
        width: 20%;
    }
    footer > div:last-of-type{
        float: right; width: 40%;
    }
    footer div h2{
        font-size: 25px; font-weight: 500; line-height: 35px;
        margin-bottom: 25px;
    }
    footer div ul li{
        display: block;
        font-size: 15px; font-weight: 500;
        line-height: 25px;
        margin-bottom: 10px;
    }
    footer div ol li{
        background-repeat: no-repeat;
    }
    footer div:nth-of-type(3) ol > li{
        display: inline-block; line-height: 45px; width: 2.34%; min-width: 45px;
    }
    footer div:nth-of-type(3) ol li:not(:first-of-type){
        margin-left: 0.52%;
    }

    footer div:nth-of-type(3) ol li{background-image: url('../images/icon_sns.png');}
    footer div:nth-of-type(3) ol li:nth-of-type(1){background-position: -45px 0px;}
    footer div:nth-of-type(3) ol li:nth-of-type(2){background-position: -45px -45px;}
    footer div:nth-of-type(3) ol li:nth-of-type(3){background-position: -45px -90px;}
    footer div:nth-of-type(3) ol li:nth-of-type(4){background-position: -45px -135px;}
    footer div:nth-of-type(3) ol li:nth-of-type(1):hover{background-position: 0px 0px;}
    footer div:nth-of-type(3) ol li:nth-of-type(2):hover{background-position: 0px -45px;}
    footer div:nth-of-type(3) ol li:nth-of-type(3):hover{background-position: 0px -90px;}
    footer div:nth-of-type(3) ol li:nth-of-type(4):hover{background-position: 0px -135px;}

    footer div:nth-of-type(3) ol li a{
        display: block; text-indent: -9999px;
    }
    footer div:last-of-type ol{
        margin-bottom: 50px;
    }
    footer div:last-of-type ol:after{
        content: ''; display: block; clear: both;
    }
    footer div:last-of-type ol li{
        position: relative; display: block; float: left;
        background-position: center;
        background-size: contain;
        line-height: 110px;
        text-indent: -9999px;
    }
    footer div:last-of-type ol li:not(:first-of-type){
        margin-left: 2%;
    }
    footer div:last-of-type ol li:nth-of-type(1){width: 30%; background-image: url('../images/icon_footer01.svg'); background-size: 90px;}
    footer div:last-of-type ol li:nth-of-type(2){width: 34%; background-image: url('../images/icon_footer02.svg'); background-size: 128px;}
    footer div:last-of-type ol li:nth-of-type(3){width: 32%; background-image: url('../images/icon_footer03.svg'); background-size: 110px;}

    footer div:last-of-type ol li p{
        display: none;
        position: absolute; top: -170px; right: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        width: 330px; height: 90px;
        font-size: 14px; font-weight: 500; line-height: 20px;
    }
    footer div:last-of-type ol li:hover p{
        display: block;
    }
    footer div:last-of-type ol li:hover p mark{
        display: block; text-indent: 0; margin-bottom: 8px; font-size: 18px; font-weight: 400;
    }
    footer div:last-of-type>p{
        text-align: right;
        font-size: 30px; font-weight: 700;
        color: #7f8761; line-height: 40px;
    }
    footer div:last-of-type>p span{
        display: block;
        margin: 40px 0 100px;
        font-size: 20px; font-weight: 400;
        color: #45443d;
    }
} */